
.btnContainer{
  text-align: center;
}
.btn{
	text-align: center;
	border: 1px solid orange;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family:'Century Gothic','Futura','Didact Gothic';
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
}

.btn1, .btn2, .btn3, .btn4{
	color: black;
	font-weight: normal;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover{
	color: white;
}

.btn::before{
	content:"";
	position: absolute;
	left: 0;
	width: 100%;
	height: 180%;
	background: orange;
	z-index: -1;
	transition: 0.8s;
}

.btn1::before,.btn2::before,.btn3::before, .btn4::before {
	bottom: 0;
	border-radius: 50% 50% 0 0;
}
.btn1:hover:before,.btn2:hover:before,.btn3:hover:before,.btn4:hover:before{
	height: 0%;
}


.logo img{
    position: absolute;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    width: 139px;
    height: 139px;
}
.topRect{
    position: absolute;
    width: 1920px;
    height: 150px;

    background: #00224B;
}
.ButtonRect{
    position: absolute;
    width: 5px;
    height: 5px;

    background: orange;
}
